.hero {
  font-size: 1.175em;
  color: #777;
  border-bottom: 1px dashed #ccc;

  @media (min-width: $screen-sm) {
    font-size: 1.225em;
  }

  p {
    margin-top: 0;
  }
}


.hero-heading {
  font-size: 2.4rem;
  margin-bottom: 0.35em;
  color: #555;
}
