// HEADER

.site-header {
  padding: 30px 0 10px;
  float: left;
  width: 320px;
  position: fixed;
}

.site-header-brand,
.site-header-brand:link,
.site-header-brand:visited {
  // color: $headings-color;
  display: block;
  // background: $brand1;
  padding: $nav-link-padding;
  background: none;
  transition: background 0.1s;
  text-decoration: none;

  h2 {
    margin: 0;
    line-height: 72px;
    font-size: 2.25em;
    // font-family: $base-font;
    // color: #fff;
  }

  &:after {
    background: transparent;
  }
}

.site-header-brand:hover {
  // background: lighten($hover-color, 4%);
  &:after {
    background: lighten($brand6-1, 4%);
  }
}

.site-main {
  float: right;
  width: 62%;
  position: relative;
  z-index: 5;
}

// NAV

.nav {
}

.nav-items {
  margin: 0;
  padding: 15px 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  transition: background 0.1s;
  display: block;
  font-size: 1.75em;
  color: rgba(0,0,0,0.55);
  background: none;
  padding: $nav-link-padding;
  font-family: $headings-font;
  text-decoration: none;
  &:after {
    background: transparent;
  }
}

.nav-link:hover:after {
  background: lighten($brand6-1, 4%);
}

// HERO

.hero {
  font-size: 1.25em;
  color: #777;
  border-bottom: 1px dashed #ccc;

  p {
    margin-top: 0;
  }
}


.hero-heading {
  font-size: 1.5em;
  margin-bottom: 0.25em;
  color: #555;
}
