.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px 30px;

  @media (min-width: $screen-sm) {
    padding: 75px 15px 30px;
  }
}

.site-main {
  position: relative;

  @media (min-width: $screen-sm) {
    float: right;
    width: 62%;
  }

  @media (max-width: $screen-sm) {
    margin-top: 90px;
    border-top: 1px dashed #ddd;
  }
}
