$mono-font: 'Courier New', monospace;
$base-font: 'Avenir', sans-serif;
$headings-font: 'Avenir', serif;

$nav-line-height: 50px;

$light-border: 1px solid #ddd;

$link-color: #9c703a;
$med-gray: #555;
$headings-color: #555;
$button-color: #af8149;
$background-tint: #fcfaf7;
