@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Martel:200,400,700');

// Fonts
$mono-font: 'Courier New', monospace;
$base-font: 'Martel', serif;
$headings-font: 'Didact Gothic', sans-serif;

// General
$light-border: 1px solid #ddd;

// Colors
$link-color: #9c703a;
$med-gray: #555;
$headings-color: #555;
$button-color: #aebeff;
$background-tint: #fcfaf7;

// Breakpoints
$screen-xs: 540px;
$screen-sm: 840px;
$screen-md: 990px;
$screen-lg: 1240px;
$screen-xl: 1540px;
$screen-xxl: 1990px;

// Components
$nav-line-height: 50px;
$nav-link-padding: 0 15px;
