$brand1: #be5750;
$brand2: #20ad90;

// light colors

$brand3: #e0fff3;
$brand4: #ffdede;
$brand5: #fff9c4;
$brand6: #e0e6ff;
$brand6-1: #cce1ff;

$hover-color: $brand4;

body {
  font-size: 18px;
  font-family: $base-font;
  margin: 0;
  line-height: 1.9;
}

a, a:link, a:visited {
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  // text-decoration: none;
  // border-bottom: 3px solid transparent;
  // transition: all 0.1s;
  position: relative;
  // white-space: nowrap;
  background: #fff4cc;
}

// a:after {
//   display: inline;
//   position: absolute;
//   background: #cce1ff;
//   background: #dad6ff;
//   background: #eed6ff;
//   background: #c2f0cc;
//   background: #def7e4; // slightly lighter than above
//   background: #fee9dd;
//   width: 100%;
//   height: 100%;
//   content: "";
//   left: 0;
//   bottom: 0;
//   z-index: -5;
//   transition: all 0.2s;
// }

a:hover {
  // left: -3%;
  // width: 106%;
  // background: #dad6ff;
  background: #d1e2fa;
  // // background: #c7ffe3;
  // height: 103%;
  // bottom: -1%;
}

h1, h2, h3, h4, h5, h6 {
  color: $headings-color;
  font-family: $headings-font;
  font-weight: bold;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

// REVISIT - section, article scope too broad?
section, article {
  // * too broad?
  > *:first-child {
      margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

section {
  padding: 30px 0;
  clear: both;
}

p, ul, pre, blockquote { margin: 1em 0; }

p { max-width: 45em; }

hr {
  margin: 1em 0;
  border: none;
  border-bottom: $light-border;
}

blockquote {
  border-left: 7px solid rgba(0,0,0,0.1);
  padding: 30px 40px;
  font-size: 1.25em;
  color: #888;
  background: #fefef8;
  margin: 1.1em 0;
}

button {
  background: darken($brand6-1, 8%);
  background: #d0e2fb;
  padding: 10px 15px;
  color: rgba(0,0,0,0.75);
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  box-shadow: -1px 2px 5px -1px rgba(0, 0, 0, 0.3);
  // border: 1px solid rgba(0,0,0,0.02);
  transition: box-shadow 0.2s;

  &:focus { outline: none; }
  &:hover {
    box-shadow: -1px 3px 5px 0px rgba(0, 0, 0, 0.3);
  }
  &:active { box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.3); transition: box-shadow 0.05s;}
}

pre {
  background: $background-tint;
  padding: 30px 40px;
  font-family: $mono-font;
  overflow-x: scroll;
}

.styleguide-color {
  height: 100px;
  width: 100px;
  margin: 10px !important;
  background: #eee;
  display: inline-block;
  float: left;
}

.styleguide-color-1 {
  background: #000;
}

.backdrop {
  @media (min-width: $screen-sm) {
      position: fixed;
      width: calc(44% - 100px);
      height: 100vh;
      left: 0;
      top: 0;
      z-index: -2;
  }
}

.backdrop:after {
  @media (min-width: $screen-sm) {
      content: "";
      position: fixed;
      width: calc(44% - 100px);
      height: 100vh;
      background: linear-gradient(50deg, #fff3c0, #f3feff);
      background: linear-gradient(50deg, hsla(55, 100%, 92%, 1), hsla(200, 40%, 98%, 1));
      background: linear-gradient(50deg, #ffefd6, #f8fbfc);
      background: linear-gradient(50deg, #ffefd6, hsla(329, 40%, 98%, 1));
      background: linear-gradient(50deg, #dddddd 0%, #ffffff); // black & white
      background: linear-gradient(50deg, hsl(175, 70%, 88%) 0%, #fcfcf8); // light blue
      background: linear-gradient(50deg, hsla(53, 100%, 83%, 1) 0%, #fcf8fa); // yellow
      background: linear-gradient(50deg, #ffbd85 0%, #f7a4a4);
      background: linear-gradient(50deg, #fff5a8 0%, hsla(0, 55%, 97%, 1)); // more saturation
      // box-shadow: -10px 0px 15px -10px rgba(0,0,0,0.11) inset;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0.85;
  }
}

footer {
  @extend section;
  padding-bottom: 60px;
  border-top: 1px dashed #ccc;
}
